
<%= render 'layouts/navbar' %>

<h1> All Teams </h1> 

<% @teams.each do |team| %> 
    Town: <%= team.town %> <br>
    Coach: <%= team.coach %> <br>
    Color: <%= team.color %> <br>
    Age Group: <%= link_to team.age_group, team_path(team) %><br><br> 
<% end %> 

