<h1><%= @team.town %></h1><br> 
<h2><%= @team.coach %></h2><br> 
<h2><%= @team.color %></h2><br> 
<h2><%= @team.age_group %></h2><br> 

<br><br> 

<h3> Players </h3> 
  <% @team.players.each do |player| %> 
    <%= player.name %> 
  <% end %> 

<%= link_to "Add Players", new_team_player_path(@team) %> 
<%= link_to "Edit Team", edit_team_path(@team) %> <br> 
<%= link_to "All Teams", teams_path %> <br>
<%= button_to "Delete", @team, :method => :delete %> 