<%= render 'layouts/navbar' %>

<body class="text-center">
<h3><%= @team.town %></h3>  
<h3><%= @team.coach %></h3>  
<h3><%= @team.color %></h3>  
<h3><%= @team.age_group %>U</h3>  

<br> 

<h2> Players </h2> 
  <ul>
  <% @team.players.each do |player| %> 
    <li><%= player.name %></li>
  <% end %>
  </ul>  <br>

</body>

<%= link_to "Add Players", new_team_player_path(@team) %> <br>
<%= link_to "Edit Team", edit_team_path(@team) %> <br> 
<%= link_to "All Teams", teams_path %> <br>
<%= button_to "Delete", @team, :method => :delete %> 