



    

          <body class="text-center"> 
            <img src="https://i.pinimg.com/236x/ce/77/3b/ce773b98dc3f8f16bf328e502ae57dd7--softball-players-softball-pictures.jpg">
              <form class="form-signin">
               <h3> Please Log In </h3>  
                <%= form_for(@user) do |f|%>
                  <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                  </div>
                  <% end %>
                  <%= f.label :email %>
                  <%= f.text_field :email %><br> 
                  <%= f.label :password %>
                  <%= f.password_field :password %><br>
                  

                  <%= f.submit "Log In" %>
                <% end %> 
                