<body class="text-center">

<h1> Create Account </h1> 

<%= form_for(@user) do |f| %>

   <% if @user.errors.any? %> 
     <div id= "error_explanation"> 
         <ul>
            <% @user.errors.full_messages do |message| %> 
               <li><%= message %></li>
            <% end %>
         </ul> 
      </div>
   <% end %> 

   <%= f.label :name %>  
   <%= f.text_field :name %> <br>
   <%= f.label :email %>  
   <%= f.email_field :email %> <br>  
   <%= f.label :password %>  
   <%= f.password_field :password %><br><br> 
    

   <%= f.submit "Create Account" %> 
<% end %> 
</body>