
<body class="text-center">

<h1> Welcome <%= current_user.name %> </h1> <br>

<img src= "https://clipartmag.com/images/softball-cartoon-images-clipart-23.jpg">
<br>
<a href="/teams", style="color:black">View All Teams</a><br><br>
<%= button_to "View My Teams", "/users/#{current_user.id}/teams" %> <br>  
<%= button_to "Register New Team", new_team_path %> <br>
<%= button_to "Register New Player", new_player_path %> <br>  

<%= button_to "Logout", logout_path %>

</body>



