<h1> All Players Registered </h1> 

<% @players.each do |player| %> 
    Name: <%= link_to player.name, players_path(player) %> <br> 
    Age : <%= player.age %> <br> 
    Coach: <%= player.user.name %> <br>
    Team:  <%= player.team.color %>, <%= player.team.age_group %> <br>
<% end %> 

