<h1> New Player </h1>

<%= form_for(@player) do |f| %> 
  <%= f.hidden_field :team_id %>

    <%= f.label :name %> 
    <%= f.text_area :name %> <br>
    <%= f.label :age %> 
    <%= f.number_field :age %> <br>

    <%= f.label :team_id, "Select a Team" %> 
    <%= f.collection_select :team_id, Team.all, :id, :color, :age_group, prompt true %><br> 

    <%= f.submit %> 
<% end %> 