<%= render 'layouts/navbar' %><br><br>

<body class="text-center">

<h5><%= @player.name %></h5><br> 
<h5><%= @player.date_of_birth %></h5><br>

<h6> Teams: </h6> 

<% @player.teams.each do |team| %> 
    Town:<%= team.town %> /
    Coach:<%= team.coach %>/ 
    Color:<%= team.color %> /
    Age Group:<%= team.age_group %>/ 
<% end %> 

<% @player.player_teams.each do |player_team| %> 
    Postion:<%= player_team.position %>/ 
    Year:<%= player_team.year %> 
<% end %> 


<%= button_to "Edit Player", edit_player_path(@player) %> 
<%= button_to "Delete", @player, :method => :delete %> 

</body>

